body {
  margin: 10rem;
  text-align: center;
}

input {
  margin: 3rem;
  padding: 1rem;
  border-radius: 10px;
}

button {
  margin: .5rem;
  padding: .75rem;
  border-radius: 7px;
}

#count {
  margin: 2rem;
}